

div {
    box-sizing: border-box; /*https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge*/
}

body {
    display: flex;
    
    background: black;
}

#gridContainer {
    height:900px;
    width:900px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: white;
}

/* BUTTONS */
#leftToolbar {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-evenly;
}

#buttonContainer {
    width: 150px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
}

#rightToolbar {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
}

#penContainer {
    width: 150px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}


#colorButtonContainer {
        width: 150px;
        display:flex;
        flex-direction: column;
        gap: 10px;
        align-self: center;
}



h1{
    color:white;
    text-align: center;
    margin:0;
    font-size: 20px;
}

#clearButton,
#gridCountButton,
#colorRedButton,
#colorBlueButton,
#colorGreenButton,
#colorWhiteButton,
#colorBlackButton,
#blackPen,
#whitePen,
#redPen,
#greenPen,
#bluePen,
#randomColorPen
 {
    height:35px;
    width: 90px;
    align-self: center;
    font-size: 24px;
}

#randomColorPen{
    background-color: mediumorchid;
    border: solid white 1px;
    color: White;
}

#colorRedButton,
#redPen{
    background-color: Red;
    border: solid white 1px;
    color: White;
}

#colorBlueButton,
#bluePen{
    background-color: blue;
    border: solid white 1px;
    color: White;
}

#colorGreenButton,
#greenPen{
    background-color: green;
    border: solid white 1px;
    color: White;
}

#colorWhiteButton,
#whitePen{
    background-color: White;
    border: solid white 1px;
}

#colorBlackButton,
#blackPen{
    background-color: Black;
    border: solid white 1px;
    color: White;
}

/*THEMES*/

.cellRedTheme {
    background-color: red;
    border: solid white 1px;
    border-style: inset;
}

.cellBlueTheme {
    background-color: blue;
    border: solid white 1px;
    border-style: inset;
}

.cellGreenTheme {
    background-color: green;
    border: solid white 1px;
    border-style: inset;
}

.cellWhiteTheme {
    background-color: white;
    border: solid black 1px;
    border-style: inset;
}

.cellBlackTheme {
    background-color: black;
    border: solid white 1px;
    border-style: inset;
}